:root {
    background:hsl(217, 28%, 15%);
}

* {
    max-width: auto;
    width: 1440;
    margin: 0;
    padding: 0;
    border: none;
    color: hsl(0, 0%, 80%);
}

body {
    text-align: center;
    color: hsl(0, 0%, 80%);
    font-family: Raleway, sans-serif;
    font-weight: 400, 700;
    font-size: 14;
}  

/* Header Styles */
header {
    background-color: hsl(217, 28%, 15%);
    color: hsl(0, 0%, 80%);
    margin: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 100;
    height: 150px;
    align-items: center;
} 

header a {
    text-decoration: none;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font: 14px Raleway, sans-serif;
}

header nav ul li a {
    padding: 5px 30px;
    font-size: 20px;
    text-align: left;
    display: inline-block;
}

section h1 {
    color: white;
}

p {
    text-align: center;
    width: 450px;
    margin: auto;
    outline: none;
}

#getStr {
    background-color:hsl(176,  68%, 64%);
    padding: 14px 70px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    font: 14px bold, Raleway, sans-serif;
    border-radius: 60px;
    color: white;
}

footer {
    background-color: hsl(216, 53%, 9%);
    height: 200px;
    align-items: center;
    border: none;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.attribution { 
    font-size: 11px; text-align: center;
    position: absolute;
    bottom: 0px;
    left: 35%;
    
}

.attribution a { color: hsl(228, 45%, 44%);
}