:root {
    background:hsl(217, 28%, 15%);
}

* {
    
    max-width: 1440px;
    padding: 0;
    margin: 0;
    border: none;
    color: hsl(0, 0%, 80%);
}

body {
    margin: 0 auto;
    text-align: center;
    align-content: center;
    color: hsl(0, 0%, 80%);
    font-family: Raleway, sans-serif;
    font-size: 14px;
}  

/* Header Styles */
header {
    background-color: hsl(217, 28%, 15%);
    color: hsl(0, 0%, 80%);
    margin: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    height: 150px;
    align-items: center;
} 

header a {
    text-decoration: none;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font: 14px "Open Sans", sans-serif;
}

header nav ul li a {
    padding: 5px 20px;
    font-size: 14px;
    text-align: left;
    display: inline-block;
}

header a:hover {
    text-decoration: underline;
    color: white;
}

/* Section 1 */

.sectionOne {
    position: relative;
    align-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 0;
    padding: 20px;
    padding-bottom: 130px;
}

section h2 {
    color: white;
    font:bold 45px Raleway, sans-serif;
    padding: 10px;
}

#sectionOneP {
    width: 30%;
    margin: 10px auto;
    padding: 20px;
}


#features {
    background: hsl(218, 28%, 13%);
    text-align: center;
    justify-content: center;

}

#getStr {
    background-image: linear-gradient(hsl(198, 60%, 50%),hsl(176, 68%, 64%));
    padding: 15px 70px;
    margin: 0;
    height: 48px;
    width: 225px;
    text-align: center;
    text-decoration: none;
    border: none;
    outline: none;
    font: 14px bold, Raleway, sans-serif;
    border-radius: 60px;
    color: white;
    display: inline;
}

#getStr:hover {
    background: hsl(176, 68%, 64%);
}

#bgImage {
    display: block;
    background-image: url(./images/bg-curvy-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 90% 100%;
    margin: 0;
    padding: 0;
}

/* Section 2 */

h1 {
    color: white;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    align-items: stretch;
    max-width: 700px;
}

.grid-item {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
    width: 50%;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

/* Section 3 */

.sectionThree {
    background: hsl(218, 28%, 13%);
    display: flex;
    flex-wrap:  nowrap;
    text-align: left;
    align-items: center;
    padding: 50px;
    padding-bottom: 75px;
    margin: 0 auto;
}

.sectionThreeText {
    padding-left: 50px;
}

.sectionThreeP {
    padding: 10px;
}

#blueWorks {
    display: inline;
    margin: 0;
    width: 100px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
    color: hsl(176, 68%, 64%);
    border-bottom: solid hsl(176, 68%, 64%) 1px;
}

#arrowIcon {
    position: relative;
    padding: 0 0 0 5px;
    top: 4px;
}

#blueWorks:hover {
    color: white;
    border-color: white;
}


/* Section 4 */

#quotes {
    background-image:url(./images/bg-quotes.png); 
    background-repeat: no-repeat;
    background-position: 4% 5%;
    position: relative;
}

#team {
    background:hsl(218, 28%, 13%);
}

/* Section 4 Grid */

.sectionFour-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background:hsl(218, 28%, 13%);
    padding: 50px;
    padding-bottom: 100px;
    margin: 0 auto;
    grid-column-gap: 30px;
    max-width: 1020px;
    min-width: 800px;
    width: 90%;
}

.sectionFour-gridItem {
    background: hsl(219, 30%, 18%);
    border-radius: 5px;
    text-align: left;
    margin: 0 auto;
    width: 275px;
    padding: 30px 25px;
    height: 100px; 
    box-shadow: 10px 10px 15px 10px rgba(219, 219, 219, 0.01), 2px 0px 5px 5px rgba(219, 219, 219, 0.02);  
}

.profile-images {
    position: relative;
    align-content: left;
    border-radius: 50%;
    width: 10%;
    padding: 10px 0;
    margin: 10px 0;
    top: 1px;
}

.profile-names {
    position: relative;
    top: -50px;
    left: 35px;
    font: bold 14px "open sans",sans-serif;
}

.profile-job {
    position: relative;
    top: -50px;
    left: 35px;
    font: 12px "open sans", sans-serif;
}

/* Enter email section */

#signin {
    background:hsl(218, 28%, 13%);
}


.emailSection {
    background:hsl(218, 28%, 13%);
    margin: 0 auto;
    font: 14px "open sans",sans-serif;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#email {
    height: 28px;
    width: 250px;
    padding: 10px 200px 10px 30px;
    border-radius: 25px;
    text-align: left;
    justify-content: left;
    outline: none;
}

#formDiv {
    z-index: 2;
    margin: 0 auto;
    position: relative;
    bottom: -100px;
    left: 0%;
    width: 55%;
    height: 200px;
    border-radius: 10px;
    background: hsl(218, 28%, 13%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    padding: 35px 40px;
}

#submitbtn {
    background-image: linear-gradient(to right,hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    padding: 10px 50px;
    margin: 0;
    margin-left: 25px;
    justify-items: center;
    text-decoration: none;
    border: none;
    outline: none;
    font: 14px bolder, Raleway, sans-serif;
    border-radius: 60px;
    color: white;
    height: 48px;
    width: 225px;
    outline: none;
}

#submitbtn:hover {
    background: hsl(176, 68%, 64%);
}

.emailSection p {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 35px;
    width: 75%;
    justify-content: center;
    text-align: center;
}



/* Footer and attribution */

footer {
    position: relative;
    background-color: hsl(216, 53%, 9%);
    height: 200px;
    align-items: center;
    justify-content: left;
    text-align: left;
    border: none;
    margin: 0;
    padding:100px 120px;
    padding-top: 200px;
}

#footerLocation {
    display: inline-block;
    padding: 30px;
    padding-left: 0px;
    text-align: left;
}

#footerLocation img {
    position: relative;
    top: -4px;
    padding: 10px 20px 20px 0;

}

#footerLocation p {
    display: inline-block;
    font-weight: bolder;
    width: 300px;
}

#footerContact {
    display: inline-block;
    text-align: left;
    justify-self: left;
    height: 55px;
    padding: 0 100px;
}

#footerContact p {
    width: 170px;
    margin-left: 25px;
}

#footerContact img {
    position: relative;
    left: -30px;
    top: 20px;
}

#footerNav {
    display: inline-block;
    text-align: left;
    position: relative;
    top: 90px;
    left: 0px;
    height: 150px;
    width: 150px;
}

#footerNav div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 150px;
}

#footerNav a {
    padding: 8px;
    text-decoration: none;
}

#footerNav a:hover {
    font-weight: bold;
    color: white;
}

#navRightSide {
    position: relative;
    left: 130px;
    bottom: 130px;
}

#footerSocial {
    font-size: 15px;
    display: inline-block;
    position: relative;
    bottom: 35px;
    left: 150px;
}

#footerSocial i {
    width: 15px;
    margin: 0 auto;
    padding: 8px;
    border: solid white 1px;
    border-width: thin;
    border-radius: 50%;
}

#footerSocial a {
    text-align: center;
    align-self: center;
    padding: 8px;
    display: inline;
    margin: 8px;
}


#footerSocial i:hover {
    color: hsl(176, 68%, 64%);
    border-color: hsl(176, 68%, 64%);
}



.attribution { 
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 35%;
    
}

.attribution a { color: hsl(228, 45%, 44%);
}