:root {
    background:hsl(217, 28%, 15%);
}

* {
    max-width: 1440px;
    padding: 0;
    margin: 0;
    border: none;
    color: hsl(0, 0%, 80%);
}

body {
    min-width: 975px;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    color: hsl(0, 0%, 80%);
    font-family: Raleway, sans-serif;
    font-size: 14px;
    line-height: 25px;
}  

/* Header Styles */
header {
    background-color: hsl(217, 28%, 15%);
    color: hsl(0, 0%, 80%);
    margin: 40px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    height: 150px;
    align-items: center;
} 

header a {
    text-decoration: none;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font: 14px "Open Sans", sans-serif;
}

header nav ul li a {
    padding: 5px 20px;
    font-size: 14px;
    text-align: left;
    display: inline-block;
}

header a:hover {
    text-decoration: underline;
    color: white;
}

/* Section 1 */

.sectionOne {
    position: relative;
    align-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 0;
    padding: 20px;
    padding-bottom: 130px;
}

.sectionOne h2 {
    color: white;
    font:bold 40px Raleway, sans-serif;
    padding: 10px;
}

#sectionOneP {
    width: 30%;
    margin: 10px auto;
    padding: 20px;
}


#features {
    background: hsl(218, 28%, 13%);
    text-align: center;
    justify-content: center;

}

#getStr {
    background-image: linear-gradient(hsl(198, 60%, 50%),hsl(176, 68%, 64%));
    padding: 15px 70px;
    margin: 0;
    height: 48px;
    width: 225px;
    text-align: center;
    border: none;
    outline: none;
    font: 14px bold, Raleway, sans-serif;
    border-radius: 60px;
    color: white;
    display: inline;
    cursor: pointer;
}

#getStr:hover {
    background: hsl(176, 68%, 64%);
}

a:-webkit-any-link {
    text-decoration: none;
}

#bgImage {
    display: block;
    background-image: url(./images/bg-curvy-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 90% 100%;
    margin: 0;
    padding: 0;
}

/* Section 2 */

h1 {
    color: white;
}


.grid-container {
    justify-self: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 30px;
    height: 500px;
    width: 900px;
}

.grid-item {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 250px;
    width: 370px;
    padding: 50px 80px;
    
}

.grid-container h1 {
    padding: 20px 0 10px;
}

/* Section 3 */

.sectionThree {
    background: hsl(218, 28%, 13%);
    display: flex;
    flex-wrap:  nowrap;
    text-align: left;
    align-items: center;
    padding: 200px 100px;
    padding-bottom: 75px;
    margin: 0 auto;
}

.sectionThree h2 {
    color: white;
    font:bold 30px Raleway, sans-serif;
    padding: 5px 10px;
}

.sectionThreeText {
    padding-left: 50px;
}

.sectionThreeP {
    width: 500px;
    padding: 10px;
}

#blueWorks {
    position: relative;
    left: 10px;
    top: 10px;
    display: inline;
    margin: 0;
    width: 100px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
    color: hsl(176, 68%, 64%);
    border-bottom: solid hsl(176, 68%, 64%) 1px;
}

#arrowIcon {
    position: relative;
    padding: 0 0 0 5px;
    top: 4px;
}

#blueWorks:hover {
    color: white;
    border-color: white;
    filter: saturate(0) brightness(1.5);
}


/* Section 4 */

#quotes {
    background-image:url(./images/bg-quotes.png); 
    background-repeat: no-repeat;
    background-position: 4% 5%;
    position: relative;
}

#team {
    background:hsl(218, 28%, 13%);
}

/* Section 4 Grid */

.sectionFour-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background:hsl(218, 28%, 13%);
    padding: 50px;
    padding-bottom: 100px;
    margin: 0 auto;
    grid-column-gap: 30px;
    max-width: 1120px;
    min-width: 800px;
}

.sectionFour-gridItem {
    background: hsl(219, 30%, 18%);
    border-radius: 5px;
    text-align: left;
    margin: 0 auto;
    width: 360px;
    height: 200px;
    padding: 30px 0px 70px;
    height: 100px; 
    box-shadow: 1px 1px 10px 2px rgba(219, 219, 219, 0.01), 6px 10px 10px 2px rgba(219, 219, 219, 0.01),  10px 2px 1px 1px rgba(219, 219, 219, 0.01);  
}

.sectionFour-gridItem p {
    padding: 10px 30px 0px;
    line-height: 22px;
}

.profile-images {
    position: relative;
    align-content: left;
    border-radius: 50%;
    width: 25px;
    padding: 10px 0;
    margin: 10px 0;
    bottom: 0px;
    left: 30px;
}

.profile-names {
    position: relative;
    bottom: 67px;
    left: 35px;
    font: bold 10px "open sans",serif;
}

.profile-job {
    position: relative;
    bottom: 83px;
    left: 34px;
    font: 8px "open sans", sans-serif;
}

/* Enter email section */

#signin {
    background:hsl(218, 28%, 13%);
}


.emailSection {
    background:hsl(218, 28%, 13%);
    margin: 0 auto;
    font: 14px "open sans",sans-serif;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#email {
    height: 28px;
    width: 250px;
    padding: 10px 200px 10px 30px;
    border-radius: 25px;
    text-align: left;
    justify-content: left;
    outline: none;
}


#email:invalid {
    color: black;
}

#formDiv {
    z-index: 2;
    margin: 0 auto;
    position: relative;
    bottom: -100px;
    left: 0%;
    width: 860px;
    height: 275px;
    border-radius: 10px;
    background: hsl(217, 28%, 15%);
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2); 
}

#formDiv h2 {
    padding: 40px 0 10px;
    font-size: 30px;
}

#submitbtn {
    background-image: linear-gradient(to right,hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    padding: 10px 50px;
    margin: 0;
    margin-left: 25px;
    justify-items: center;
    text-decoration: none;
    border: none;
    outline: none;
    font: 14px bolder, Raleway, sans-serif;
    border-radius: 60px;
    color: white;
    height: 48px;
    width: 225px;
    outline: none;
}

#submitbtn:hover {
    background: hsl(176, 68%, 64%);
}

.emailSection p {
    line-height: 22px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 35px;
    width: 75%;
    justify-content: center;
    text-align: center;
}

.emailSection:valid {
    background: white;
    color: black;
}

.error {
    width: 100%;
    padding: 0;
    font-size: 8px;
    font-weight: bold;
    color: hsl(0, 100%, 63%);
    position: absolute;
    bottom: 25px;
    right: 270px;
    box-sizing: border-box;
}



/* Footer and attribution */

footer {
    display: block;
    flex-wrap: wrap;
    position: relative;
    background-color: hsl(216, 53%, 9%);
    height: 200px;
    align-items: center;
    justify-content: left;
    text-align: left;
    border: none;
    margin: 0;
    padding:175px 120px;
    padding-top: 200px;
}

#footerLocation {
    display: inline-block;
    padding: 30px;
    padding-left: 0px;
    padding-top: 0px;
    text-align: left;
}

#footerLocation img {
    position: relative;
    bottom: 90px;
    padding: 10px 20px 20px 0;

}

#footerLocation p {
    display: inline-block;
    position: relative;
    width: 300px;
    bottom: 80px;
}

#footerContact {
    display: inline-block;
    text-align: left;
    justify-self: left;
    height: 55px;
    padding: 0 100px;
    position: relative;
    right: 25px;
    bottom: 90px;
}

#footerContact p {
    width: 170px;
    margin-left: 25px;
    line-height: 15px;
}

#footerContact img {
    position: relative;
    right: 25px;
    top: 25px;
}

#footerNav {
    display: inline-block;
    text-align: left;
    position: relative;
    top: 35px;
    left: 0px;
    height: 150px;
    width: 150px;
}

#footerNav div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 150px;
}

#footerNav a {
    padding: 8px;
    text-decoration: none;
}

#footerNav a:hover {
    font-weight: bold;
    color: white;
}

#navRightSide {
    position: relative;
    left: 130px;
    bottom: 164px;
}

#footerSocial {
    display: inline-block;
    position: relative;
    bottom: 115px;
    left: 150px;
}

#footerSocial img {
    filter: saturate(0) brightness(1.5) invert(1);
    height: 12px;
    width: 12px;
    margin: 0 auto;
    padding: 8px;
    border: solid black 1px;
    border-width: thin;
    border-radius: 50%;
}

#footerSocial a {
    text-align: center;
    align-self: center;
    padding: 0px;
    display: inline;
    margin: 8px;
}


#footerSocial img:hover {
    filter: invert(97%) sepia(49%) saturate(2301%) hue-rotate(154deg) brightness(84%) contrast(88%);
}



.attribution { 
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 35%;
    
}

.attribution a { color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {

    * {
        max-width: 375px;
        margin: 0;
        padding: 0;
    }


    body {
        max-width: 375px;
        margin: 0 auto;
        padding: 0;
    }

    header {
        width: 375px;
        margin: 0 auto;
        float: left;
        padding: 0;
        display: inline;
    }

    header img {
        float: left;
        position: relative;
        width: 80px;
        height: 25px;
        padding: 10px;
        margin: 10px;
    }

    header a {
        display: inline;
        padding: 0;
        margin: 0;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        font: 12px raleway, sans-serif;
        color: white;
        padding-left: 35px;
    }
    
    header nav ul li a {
        padding: 25px 12px;
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        display: inline-block;
    }

    .sectionOne {
        padding: 0;
        margin: 0 auto;
    }

    .sectionOne div {
        padding: 0 10px;
    }

    .sectionOne img {
        width: 80%;
    }

    .sectionOne h2 {
        padding: 0;
        font-size: 24px;
        font-weight: 700;
        display: inline;
    }

    #sectionOneP {
        text-align: center;
        width: 375px;
        display: flex;
        padding: 20px 0px;
        margin: 0 auto;
    }

    h2 {
        padding: 0;
    }

    #getStr {
        background-image: linear-gradient(hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        padding: 15px 70px;
        height: 48px;
        width: 240px;
    }

    .grid-container {
        justify-self: center;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        padding: 100px 0px;
        padding-top: 100px;
        width: 375px;
        display: inline-block;
    }

    .grid-item {
        display: block;
        justify-content: center;
        align-content: center;
        padding: 5px 10px;
        margin: 0 auto;
        width: 85%;
        line-height: 20px;
    }

    .grid-item h1 {
        font-size: 18px;
    }

    .grid-item img {
        width: 20%;
    }

    .sectionThree {
        display: block;
        margin: 0;
        padding: 0;
    }

    .sectionThree>div>img {
        width: 85%;
        padding: 150px 30px 10px;
        margin: 0 auto;
    }






}